html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.banner {
  padding: 20px ;
  right: 20px;
  letter-spacing: 5px;
  font-size: 200%;
  font-family:  'Josefin Sans';
  text-align: CENTER;
  color: hotpink;
    
  margin: center;
  border: 5px double lightgreen;
  background-color: black;
  fill-opacity: 50;
}